.navContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    height: 80px;
    width: 100%;
}

.linkContainer {
    background-color: yellow;

    position: absolute;
    top: 8.5%;
    left: -100%;

    transition: left 0.6s ease;
    height: 200px;
    width: 50%;

    z-index: 1;
}


.active {
    left: 0;
    width: 50%;
}

@media(min-width: 768px) {
    .active {
        width: 35%;
    }
}